.wrapper-formPerson {
  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.02em;

    color: #1f1a2d;
  }
  &__input,
  &__control {
    height: 54px;
    width: 100%;

    padding: 15px 20px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #000000;

    border-radius: 10px;
    border: 1px solid #e0e0e0;
    outline: none;
  }

  &__input,
  &__wrapperInput,
  &__select,
  &__text,
  &__name {
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: #1f1a2d;
  }

  &__input::placeholder {
    color: #989898;
  }

  &__wrapperInput {
    position: relative;
  }

  &__iconDate {
    position: absolute;
    top: 18px;
    right: 22px;

    pointer-events: none;
  }

  &__iconArrow {
    position: absolute;
    top: 21px;
    right: 20px;
    transform: rotate(-90deg);

    pointer-events: none;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    padding: 5px 10px;

    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__itemName {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: #1f1a2d;
  }

  &__itemIcon {
    margin-left: 10px;

    cursor: pointer;
  }
  // &__input.wrapper-formPerson__input--bold::placeholder {
  //   font-weight: 800;

  //   color: #000000;
  // }
}
