.presonal-data {
  border: 1px solid rgba(160, 168, 200, 0.5);
  border-radius: 10px;

  padding: 15px;

  margin-bottom: 10px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: 0.02em;

    color: #818697;

    margin-bottom: 10px;
  }
  &__title,
  &__location {
    margin-bottom: 10px;
  }

  &__location {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.37;

    color: #1f1a2d;

    display: flex;
    justify-content: space-between;

    padding-bottom: 10px;

    border-bottom: 1px solid #eeeeee;
  }

  &__country,
  &__city {
    display: flex;
    align-items: center;
  }

  &__countryName,
  &__cityName {
    margin-left: 10px;
  }

  &__data {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.02em;
    color: #1f1a2d;
  }

  &__wrapperData {
    display: flex;
    justify-content: space-between;
  }

  &__buttonClose {
    outline: 0;
    border: 0;
    background-color: #ffffff;

    cursor: pointer;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-right: 5px;

    padding: 5px 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;

    border-radius: 5px;

    color: #ffffff;

    background-color: #366eff;
  }
}
