.container {
  width: 476px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;

  //   margin: 0 auto;

  padding: 30px;

  background-color: #ffffff;

  // height: calc(100vh - 66px);
}

.container.login {
  width: 460px;
  border: none;
  border-radius: 0px;

  margin: 0;

  padding: 30px;
}
