.wrapper-form {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 36px;
  }

  &__name,
  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #1f1a2d;
  }

  &__link {
    text-decoration: none;
  }

  &__input {
    margin-bottom: 36px;
  }

  &__mailing,
  &__dataProcessing {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;
  }

  &__label {
    width: 380px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;

    color: #1f1a2d;
  }

  &__button {
    margin-top: 15px;
  }
}

.home {
  background-color: #3549fd;
  height: 100vh;

  &__header {
    display: flex;
    align-items: center;

    height: 66px;
    width: 695px;
    background-color: #ffffff;

    padding: 24px 30px;

    border-bottom: 1px solid rgba(160, 168, 200, 0.5);
  }

  &__logo {
    font-weight: 800;
    font-size: 16px;
    line-height: 1;
  }

  &__wrapperProfile {
    display: flex;
    justify-content: flex-start;
  }

  &__avatar {
    display: block;

    border-radius: 50%;
  }

  &__login {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 140px;

    margin-left: 190px;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #1f1a2d;
  }

  &__buttonExit {
    border-radius: 5px;
    outline: none;
    border: 1px solid #818697;

    width: 60px;
    height: 25px;

    background-color: #ffffff;

    color: #818697;
    cursor: pointer;

    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
  }
}
