.wrapper-form {
  display: flex;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 36px;
  }

  &__name,
  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: #1f1a2d;
  }

  &__link {
    text-decoration: none;
  }

  &__input {
    margin-bottom: 36px;
  }

  &__mailing,
  &__dataProcessing {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 15px;
  }

  &__label {
    width: 380px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;

    color: #1f1a2d;
  }

  &__dataProcessing {
  }

  &__button {
    margin-top: 15px;
  }
}
